<div class="general-block">
  <div class="container">
    <div *ngIf="( trackHistory | async)?.length === 0; else tHistory">
      <p class="artist-title">Track history is empty!</p>
    </div>

    <ng-template #tHistory>
      <div>
        <p class="artist-title">Track history</p>
      </div>
      <div class="history-card" *ngFor="let history of trackHistory | async">
        <p class="history-card__date">Date: {{ history.datetime }}</p>
        <p class="history-card__artist">{{ history.artist}}</p>
        <p class="history-card__track">{{ history.track.name}}</p>
      </div>
    </ng-template>
  </div>
</div>
<section class="footer-section">
  <app-footer></app-footer>
</section>



