<div>
  <h2 class="artist-title">All albums: {{ artistName }}</h2>
</div>
<div class="lds-facebook" *ngIf="(loading | async) else albumsArea">
  <div></div>
  <div></div>
  <div></div>
</div>
<ng-template #albumsArea>
  <div fxLayout="row wrap">
    <div *ngFor="let album of albums | async">
      <mat-card class="card card__card-item" *appHasRoles="{role: ['user', 'admin'], published: album.isPublished}" (click)="onLink( album._id, album.author.name, album.name)">
        <div class="card__image-block">
          <img mat-card-image class="card__image" [src]="apiUrl + '/uploads/' + album.image"
               alt="Photo of {{ album.name }}">
          <span class="material-icons card__unpublished-icon" *ngIf="!(album.isPublished)">unpublished</span>
        </div>
        <mat-card-title class="card__title"><span class="material-icons">album</span> {{ album.name }}
        </mat-card-title>
        <mat-card-subtitle class="card__subtitle">{{ album.year }} г.</mat-card-subtitle>
        <div >
          <mat-divider inset></mat-divider>
          <mat-card-actions class="card__buttons-block" *appOpenedRoles="['admin']">
            <button mat-raised-button color="accent" *ngIf="!(album.isPublished)" (click)="onPublish(album._id, $event)">Publish</button>
            <button mat-raised-button color="warn" (click)="onRemove(album._id, $event)">Delete</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>

