<div class="cabinet-block">
  <h2 class="cabinet-block__title">Add something new in one click</h2>
  <div class="cabinet">
    <a routerLink="/create-new-track" class="cabinet__card">
      <mat-card class="cabinet__card-item">
        <img mat-card-image class="cabinet__card-image" src="https://cdn-icons-png.flaticon.com/512/27/27188.png"
             alt="Photo of a Shiba Inu">
        <mat-card-title class="cabinet__card-title">Create new Track</mat-card-title>
      </mat-card>
    </a>
    <a routerLink="/create-new-artist" class="cabinet__card">
      <mat-card class="cabinet__card-item">
        <img mat-card-image class="cabinet__card-image" src="https://cdn-icons-png.flaticon.com/512/199/199478.png"
             alt="Photo of a Shiba Inu">
        <mat-card-title class="cabinet__card-title">Create new Artist</mat-card-title>
      </mat-card>
    </a>
    <a routerLink="/create-new-album" class="cabinet__card">
      <mat-card class="cabinet__card-item">
        <img mat-card-image class="cabinet__card-image"
             src="https://icon-library.com/images/playlist-icon-png/playlist-icon-png-29.jpg"
             alt="Photo of a Shiba Inu">
        <mat-card-title class="cabinet__card-title">Create new Album</mat-card-title>
      </mat-card>
    </a>
  </div>
</div>
