<section class="contacts">
  <div class="container">
    <div class="text-block">
      <span class="text-block__subtitle">Contacts</span>
      <h3 class="text-block__title">A few words about us...</h3>
      <aside class="text-block__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolores illum
        ipsa ipsam laborum maiores, neque quidem repellat vero voluptatem! Ab atque culpa distinctio ea, expedita,
        ipsam
        labore odit possimus quos recusandae sapiente ut voluptate! Ad amet corporis cumque dignissimos doloribus
        eaque
        fuga itaque, maxime modi mollitia nisi numquam odit perspiciatis quaerat quibusdam, quis velit voluptas
        voluptatibus? Cupiditate eos laboriosam nisi perferendis quasi quo sapiente suscipit temporibus tenetur
        voluptatibus? Consectetur cumque, dolorum ea fugit illum ipsa itaque iure, laborum modi nam pariatur qui
        recusandae rem repellat reprehenderit soluta sunt, suscipit tempore. Aperiam at corporis, ex excepturi ipsam
        magni natus voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam asperiores
        blanditiis consequatur, dolorum esse eveniet explicabo illo minima nesciunt nulla numquam quaerat qui
        repudiandae suscipit ullam veniam! Alias beatae delectus deleniti doloribus eius enim et eveniet explicabo fugit
        harum in ipsa ipsam maiores modi officia optio provident quaerat quasi rem, repellendus sapiente temporibus
        veniam vitae voluptate voluptatum. Adipisci dolores harum nostrum quaerat repudiandae. Accusantium animi
        assumenda commodi consequuntur eaque exercitationem magni maxime mollitia nisi nostrum quae quo reiciendis sint
        unde, velit. Commodi, cupiditate, debitis? Adipisci alias eius esse vitae. Consequatur corporis, id molestiae
        mollitia odit optio similique tenetur vitae.
      </aside>
    </div>
  </div>
</section>
<section class="footer-section">
  <app-footer></app-footer>
</section>
