.button-scroll
  position: sticky
  bottom: 55px
  margin: 0 50px

.active
  opacity: 0

.general-section
  width: 100%
  height: 1090px
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #303030 92.19%), url("https://wallpaperaccess.com/full/2249905.jpg") 20% 115% no-repeat
  background-size: 100%

  &__text
    position: absolute
    content: ''
    width: 600px
    height: 200px
    top: 350px
    right: 100px

  &__title
    font-size: 54px
    font-weight: 700
    font-style: italic
    line-height: 55px
    color: white
    text-shadow: 10px 5px 15px black

.chart-main
  max-width: 700px
  margin: -175px 0 0 5%
  z-index: 100

  &__title
    font-size: 34px
    font-weight: 700
    font-style: italic
    text-align: center
    letter-spacing: 1px

.player-block
  display: flex
  justify-content: center
  align-items: center
  padding: 20px

  &__play-icon
    font-size: 50px
    margin-right: 10px

  &__slider
    width: 350px
    margin-bottom: 3px

.track-time
  display: flex
  padding-top: 10px

  &__time
    font-size: 18px
    font-style: italic
    padding: 0 3px

.list-block
  padding: 10px 150px
  display: flex
  justify-content: right

.list-main
  list-style-type: none

  &__list-item
    font-size: 18px
    font-style: italic



.favorite-block
  text-align: center
  padding: 70px 15px


