<section class="general-section">
  <div class="general-section__text">
    <h3 class="general-section__title">Find your favorite tracks, listen or add your own!</h3>
  </div>
</section>
<section class="chart-main">
  <h3 class="chart-main__title">Top tracks</h3>
  <div class="player-block">
    <span class="material-icons player-block__play-icon">play_arrow</span>
    <mat-slider aria-label="unit(s)" class="player-block__slider" value="33" disabled></mat-slider>
    <div class="track-time">
      <p class="track-time__time">00:33</p>
      <p>—</p>
      <p class="track-time__time">03:33</p>
    </div>
  </div>
  <div class="list-block">
    <ul class="list-main">
      <li class="list-main__list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, sunt.</li>
      <li class="list-main__list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, sunt.</li>
      <li class="list-main__list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, sunt.</li>
      <li class="list-main__list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, sunt.</li>
      <li class="list-main__list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, sunt.</li>
    </ul>
  </div>
</section>
<section class="favorite-block">
  <h3 class="favorite-block__title">Your favorite authors and bands</h3>
  <div class="artists-block">
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="20%" *ngFor="let artist of arrArtists">
        <a class="card" [routerLink]="[artist._id, artist.name, 'albums']">
          <mat-card class="card__card-item">
            <div class="card__image-block">
              <img mat-card-image class="card__image" [src]="apiUrl + '/uploads/' + artist.image"
                   alt="Photo of {{ artist.name }}">
            </div>
            <mat-card-title class="card__title">{{ artist.name }}</mat-card-title>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</section>
<div class="button-scroll"
>
  <button mat-fab color="accent" aria-label="Example icon button with a home icon"  (click)="onClick()">
   <span class="material-icons">north</span>
  </button>
</div>
