<section class="footer-section">
  <div class="container">
    <div class="footer">
      <div class="information">
        <div class="contact">
          <a href="/" class="contact__link"><span class="material-icons">call</span> +996 555 55 55 55</a>
        </div>
        <div class="location">
          <a href="/" class="location__link"><span class="material-icons">location_on</span> Lorem ipsum dolor sit amet.</a>
        </div>
      </div>
      <div class="media">
        <ul class="icons-list">
          <li class="icons-list__list-item"><a href="/" class="icons-list__link"><span class="material-icons">smart_display</span></a></li>
          <li class="icons-list__list-item"><a href="/" class="icons-list__link"><span class="material-icons">whatsapp</span></a></li>
          <li class="icons-list__list-item"><a href="/" class="icons-list__link"><span class="material-icons">live_tv</span></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-text">
      <p class="footer-text__text">Lorem @ 2022 Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
    </div>
  </div>
</section>
