*, body, html
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: 'Josefin Sans', sans-serif
  line-height: 1.2

.sidenav-container
  height: 100%

.mat-drawer-inner-container
  border-right: 2px solid #24c3be

.sidenav
  width: 200px
  background: #303030

.sidenav-menu
  display: flex
  border-bottom: 2px solid #24c3be

.sidenav-btn
  margin: 10px 8px

.sidenav .mat-toolbar
  background: inherit

.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 1

.mat-toolbar
  display: flex
  justify-content: space-between
  background: #303030

.sidenav-btn
  border: 2px solid white
  border-radius: 5px

mat-icon
  margin-bottom: 7px
  color: #24c3be

.icon-menu-music
  margin-top: 8px

.icon-reg-menu
  text-align: center
  width: 28px
  height: 26px
  border-radius: 50%
  background: #24c3be
  color: #303030!important
  margin-bottom: 5px

.logo-block
  display: flex

.logo
  display: flex
  font-size: 30px
  font-family: 'Satisfy', cursive
  font-weight: 700
  letter-spacing: 1px
  text-decoration: none
  color: #24c3be
  margin: 0 15px
  padding-top: 8px

.material-icons
  font-size: 30px
  padding-bottom: 7px
  color: #24c3be

.user-menu
  display: flex
  width: 200px
  justify-content: center
  border: 2px solid #24c3be
  background: #1c1c1c
  margin: 5px 25px
  border-radius: 15px 0 15px 0!important
  box-shadow: 0 0 5px 3px #24c3be inset

.content
  height: 100%
  background: rgba(143,143,143,1)

.container
  max-width: 1330px
  margin: 0 auto
  padding: 0 15px

.general-block
  padding: 50px 0
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(143,143,143,1) 100%)

.artist-title
  font-size: 84px!important
  font-weight: 700
  font-family: 'Satisfy', cursive
  text-align: center
  padding: 60px 0 40px
  line-height: 2
  margin-bottom: 70px
  @media screen and (max-width: 560px)
    font-size: 54px!important

  &__span
    font-size: 84px!important
    font-weight: 700
    font-family: 'Satisfy', cursive
    color: #24c3be
    letter-spacing: 5px!important
    line-height: 2
    @media screen and (max-width: 560px)
      font-size: 54px!important

.spinner
  margin: 10% auto

@media screen and (max-width: 500px)
  .author-title
    font-size: 24px

.reg-link
  color: white
  border: 2px solid #24c3be!important
  background: linear-gradient(90deg, gray 9%,  #303030 100%)
  margin: 5px!important
  &:hover
    opacity: 0.8

.form-wrapper
  display: flex!important
  justify-content: center
  padding: 130px 15px
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(143,143,143,1) 100%)

.form-block
  text-align: center
  margin: 0 auto
  background: #24c3be
  border-radius: 20px!important
  border: 4px solid white
  &:hover
    box-shadow: -2px -3px 20px 0px white !important
    transition: 2s

  &__content
    background: initial

  &__form-title
    font-size: 44px!important
    font-weight: 700
    font-family: 'Satisfy', cursive
    text-transform: capitalize
    margin: 20px 0 30px!important
    @media screen and (max-width: 690px)
      font-size: 40px!important

.mat-form-field-infix
  min-width: 700px!important
  @media screen and (max-width: 900px)
    min-width: 500px!important
  @media screen and (max-width: 690px)
    min-width: 400px!important
  @media screen and (max-width: 540px)
    min-width: 300px!important
  @media screen and (max-width: 450px)
    min-width: 230px!important

.reg-form
  &__element-wrapper
    display: flex!important
    flex-direction: column
    margin-bottom: 30px

  &__label
    font-size: 16px
    font-style: italic
    color: white

  &__element
    font-size: 18px!important
    padding: 5px

  &__element-error
    font-size: 16px
    font-weight: bold
    text-align: center
    padding: 7px

  &__reg-btn
    color: black!important
    background: white

.identical-error
  margin-top: -20px

.lds-facebook
  display: flex
  position: relative
  width: 80px
  height: 80px
  margin: 0 auto

.lds-facebook div
  display: inline-block
  position: absolute
  left: 8px
  width: 16px
  background: #e98811
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite

.lds-facebook div:nth-child(1)
  left: 8px
  animation-delay: -0.24s

.lds-facebook div:nth-child(2)
  left: 32px
  animation-delay: -0.12s

.lds-facebook div:nth-child(3)
  left: 56px
  animation-delay: 0s

@keyframes lds-facebook
  0%
    top: 8px
    height: 64px

  50%, 100%
    top: 24px
    height: 32px


